* {
        box-sizing: border-box;
}

h1 {
	text-align: center;
    font-family: cursive, sans-serif;
    font-size: 175%;
}

}
.row{
	width: 100%;
}
.title{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	width: 30%;
	font-weight: bold;
	font-size: 125%;
	padding: 5px 5px 5px 5px;

}
.sec {
	position: relative;
	background-color: gray;
	border: 1px solid black;
	margin: 0px 20px 20px;
	padding: 35px 25px 5px 25px;
	height: 150px;
	overflow: hidden;
}
#sec1{
    background-color: #EDBB99;
}
#sec2{
	background-color: #7DCEA0;
}
#sec3{
    background-color: #F1948A;
}

@media  (min-width: 992px){
     .section-lg{
     	width: 33.33%;
     	float: left;
     }
}
@media (min-width: 768px) and (max-width: 991px){
     .section-md{
     	width: 50%;
     	float: left;
     }
     #last-sec{
     	width: 100%;
     	float: left;
     }
}
@media (max-width: 767px){

}